@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position :relative;
    font-family: 'GmarketSansMedium';
}

#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    min-height: 100dvh;
}

#notice-header{
    margin-bottom: 30px;
    width: 600px;
}

#notice-header-title{
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    
}

#change-member-type{
    width: 360px;
    height: 52px;
    border: 1px;
    box-shadow : 0 0 4px 0 #FF54A1;
    border-radius: 10px;
    display: flex;

    margin-bottom: 35px;
    margin-top: 20px;
} 


#change-member-type div{
    width: 180px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#member-type-personal{
    box-shadow : 0 0 15px 0 #FF54A1;
    border-radius: 10px;
    background-color: #FF54A1;
}
#pink-box {
    padding-top: 15px;
    width: 360px;
    height: 1302px;
    box-shadow : 0 0 15px 0 #FF54A1;
    border-radius: 10px;

    align-items: center;
    flex-direction : column;
    display: flex;


    font-size: 12px;


}

#signUpFrm label {

    width: 295px;
    
    text-align: left;
    padding-left: 12px;
    margin-bottom: 7px;
}

#ps-notice{
    width: 310px;
    text-align: right;
}





#sendAuthKeyBtn{
    position: absolute;
    width: 104px;
    height: 45px;
    border-radius: 10px;
    background-color: #918F8F;
    color: white;
    border: none;
    
}
.button-style{
    position: absolute;
    width: 66px;
    height: 44px;
    border-radius: 10px;
    background-color: #918F8F;
    color: white;
    border: none;
    top: 0;
}


.signUp-input-area input{
    width: 295px;
    height: 44px;
    border-radius: 10px;
    border: 1px #A3A3A3 solid;
    padding: 0 8px;
    font-size: 12px;
    margin-bottom: 15px;
    
}

#memberEmail {
    width: 191px;
    border: none;

}

#memberAddress,#authKey{
    width: 229px;
    border: none;
}


.button-relative-area{
    width: 295px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #A3A3A3;
    position: relative;
    margin-bottom: 15px;
}

.make-line{
    width: 282px;
    height: 0;
    border: 1px solid #A3A3A3;
}

.agree-area{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin: 2px 0;
}

.agree-area label{
    width: 220px !important;
    padding: 0 !important;
    margin: 5px 10px !important;
}

.agree-area input{
    width: 18px;

}


.hidden{
    display: none;
}


#signUpBtn{
    margin-top: 45px;
    width: 360px;
    height: 52px;
    border-radius: 10px;
    background-color: #FF54A1;
    box-shadow : 0 0 15px 0 #FF54A1;
    font-size: 16px;
    color: white;
    border: none;
}

.required{
    color: #FF54A1;
}

#not-robot{
    margin-top: 10px;
    margin-bottom: 20px;
}