*{
    box-sizing: border-box;
    font-family: 'GmarketSansMedium';
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
}

button{
    cursor: pointer;
}
.container{
    background-color: white;
    border: 1px solid #4B4B4B;
    width: 1086px;
    height: 753px;
    border-radius: 50px;
    display: flex;
    padding: 83.5px;
}

#left {

}

#title {
    font-size: 30px;
    font-weight: bold;
}
#content{
    font-size: 14px;
}
#signUp-button{

    width: 320px;
    height: 53px;
    color: white;
    background-color: #FF54A1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center {
    background-color: #4B4B4B;
    width: 1px;
    height: 586px;
}

#right{
    border: red 1px solid;
    width: 485.76px;
    text-align: center;
    
}



.member-bar{

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#under-line{
    height: 4px;
    background-color: #FF54A1;
    position: absolute;
    width: 192px;
    left: 36px;
    top: 40px;
    padding: 0px;

}

.member-type{
    font-size: 24px;
    padding: 4px 50px;
}

.input-box{
    width: 320px;
    height: 53px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
}

.id-box{
    margin-top: 30px;
}

.font-bold{
    font-weight: bold;
}

#check-box-div{
    display: flex;
    margin-left: 80px;
    gap: 40px;
}

.check-box-div-div {
    display: flex;
    gap: 15px;
}

#security-test {
    margin-top: 30px;
}

.check-captcha-code {
    width: 184px;
    height: 36px;
    border-radius: 5px;
    border: #4B4B4B solid 1px;
    padding-left: 10px;
}

.captcha-button {
    width: 52px;
    height: 18px;
    font-size: 10px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #4B4B4B;
    display: flex;
    align-items: center;
    justify-content: center;

}
.captcha-button-div{
    display: flex;
    margin-left: 78px;
    margin-top: 5px;
    gap: 5px;
}

#kakao-logo{
    height: 39px;

}

#kakao-login{
    width: 320px;
    height: 53px;
    background-color: #FEE500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

#login-button{
    margin-top: 10px;
    width: 320px;
    height: 56px;
    border-radius: 10px;
    background-color: purple;
    color: #ffffff;
    border: none;
}